/* Font style */

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


/* Shared styles */


.text-center{
    text-align: center;
}

.black-primary{
    color: #252432;
}

.gray-primary{
    color: #8987A1;
}

.orange-primary{
    color: #E95A08;
}
.section-title{
    font-size: 3.5rem;
    font-weight: bold;
}

.section-description{
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.375rem;
}

.btn-primary{
    background-color: #E95A08;
    border: none;
    width: 270px;
    height: 50px;
    
    color: white;
    font-size: 1rem;
    font-weight: 500;
}

/* Header styles */

.navbar{
    max-width: 1140px;
    max-height: 71px;
    margin: 0 auto;
    margin-bottom: 120px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 1rem;
}

.navbar-logo{
    width: 135px;
    height: 82px;
}

.menu-items a{
    text-decoration: none;
}

.home{
    font-weight: bold;
}

.menu-items{
    max-width: 415px;
    max-height: 24px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
}

.banner{
    max-width: 1140px;
    max-height: 461px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.banner-image img{
    max-width: 570px;
    max-height: 335px;
    margin-top: 206px;
}

.banner-title{
    font-size: 4rem;
    font-weight: bold;
}
.banner-description{
    font-size: 1.375rem;
    color: rgba(0, 0, 0, 0.5);
}
.banner-content{
    margin-top: 162px;
}



/* Plants Section Styles */

.plants-section{
    max-width: 1140px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.plants-section-header{
    max-width: 888px;
    margin: 0 auto;
}

.card{
    width: 270px;
    height: 484px;
    padding: 30px 7px;
    
}
.card-name{
    font-size: 1.375rem;
    font-weight: 500;
    margin-bottom: 0px;
}

.card-price{
    font-size: 1.375rem;
    font-weight: bold;
    margin-top: 10px;
}

.card img{
    width: 270px;
    height: 322px;
}

.plants-section-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* gap: 30px; */
}


/* Plants Lover Section Styles */

.plants-lover-section{
    max-width: 1140px;
    margin: 0px auto;
    margin-top: 170px;
    

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;

    position: relative;

}

.left-content{
    position: relative;
}
        

.left-content img{
    width: 540px;
    height: 597px;


    display: block;
}

.right-content{
    width: 550px;
    height: 521px;
    padding-top: 38px;
    padding-bottom: 38px;

}

.right-content h2{
    margin-bottom: 20px;
    margin-top: 0px;
}
.right-content ul li{
    padding-bottom: 20px;
}

#badge{
    height: 286px;
    width: 286px;

    position: absolute;
    top: -128px;
    right: -90px;
    z-index: 1;

    filter: drop-shadow(0 6px 10px rgba(0, 0, 0, 0.25));
    animation: spin 2s linear infinite;
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.latest-deal-section{
  display: none;
}

/* Join Section Styles */

.join-section{
  margin-top: 100px;
  margin-left: 0px;
  margin-right: 0px;

  background-image: url('assets/news-letter-bg.png');
  width: 1440px;
  height: 533px;
  width: 100%;
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 300px;
}

.email-input{
   border: none;
    width: 270px;
    height: 50px;
    
    background-color: white;
    font-size: 1rem;
    font-weight: 500;
    padding-left: 20px;
    padding-right: 0px;
}

.join-section-header h2{
  color: white;
}

.join-section-content{
  width: 850px;
  height: 50px;
  align-items: center;
  padding-top: 10px;
}

.join-section-content button{
  width: 185px;
  height: 52px;
  margin-left: -4px;
}

.join-section-header{
  width: 586;
  height: 68px;
}

.email-input{
  width: 644px;
}

/* Footer styles */

.footer-container{
  
  display: grid;
  grid-template-columns: 359px auto 216px;

  max-width: 1120px;
  margin: 0 auto;
  margin-top: 100px;
  gap: 70px;
}

.second-parent{
  display: grid;
  place-items: center;
  grid-template-columns: 85px 128px;
  gap: 70px;
  justify-content: space-around;
}


.div1 ul li{
  list-style-type: none;
  font-size: 1rem;
  padding-bottom: 10px;
  width: 85px;
}

.div2 ul li{
  list-style-type: none;
  font-size: 1rem;
  padding-bottom: 10px;
  width: 128px;
}

.third {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 20px; 
}

.third img {
  /* width: 32px;   
  height: 32px; */
  /* object-fit: contain; */
  /* cursor: pointer; */
}

/* Responsive Styles for Mobile Devices */

@media screen and (max-width: 576px) {
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;

        font-size: 1rem;

        max-width: 361px;
        height: 38px;
        margin-top: 25px;
        margin-bottom: 28px;
}

.logo{
    width: 63px;
    height: 38px;
}

/* .cart{
    font-size: 1rem;
} */

    .home,
    .shop,
    .about-us{
        display: none;
}


.banner{
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

  .banner-image{
    order: 1; 
    width: 100%;
  }

  .banner-image img{
    width: 100%;
    margin-top: 0px;
  }

  .banner-content {
    order: 2; 
    margin-top: 0;
    margin-left: 16px;
    margin-right: 16px;
  }

  .banner-title{
    font-size: 1.5rem;
  }

  .banner-description{
    font-size: 0.875rem;
  }

  .plants-section{
    max-width: 393px;
  }
  .plants-section-cards{
    grid-template-columns: repeat(2, 1fr);
  }

  .section-title{
    font-size: 1.5rem;
  }

  .section-description{
    font-size: 0.875rem;
  }

    .plants-section-header{
    width: 393px;
    margin-bottom: 16px;
  }
  .plants-section-header p{
    width: 336px;
    margin: 0 auto;
  }
  .plants-section-cards{
    height: 1105px;
    max-width: 393px;
    margin: 0 auto;
  }

  .card{
    max-width: 171px;
    height: 340px;
    padding: 10px 10px;
  }

  .card img{
    width: 100%;
    height: 196.5px;
  }
  .card-name{
    font-size: 1rem;
  }
  .card-price{
    font-size: 1rem;
  }

  .btn-primary{
    background-color: #E95A08;
    border: none;
    width: 171px;
    height: 50px;
    
    color: white;
    font-size: 1rem;
    font-weight: 500;
}

#badge{
  display: none;
}

.plants-lover-section{
  flex-direction: column;
  margin-top: 420px;
  width: 361px;
  height: 648px;
  
}

.left-content{
  width: 100%;
  max-width: 358px;
  height: 396px;
}

.left-content img{
  width: 100%;
  height: 396px;
  display: block;
}

.right-content{
    width: 361px;
    height: 234px;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 38px;
    margin-left: 0px;
    margin-right: 0px;

}

.right-content h2{
  font-size: 1.5rem;
    margin-bottom: 20px;
    margin-top: 0px;
    height: auto;
}
.right-content ul li{
    padding-bottom: 20px;
    font-size: 0.875rem;
}

.join-section{
  width: 393px;
  height: 275px;
  width: 100%;
  overflow-x: hidden;
  gap: 10px;
}

.join-section-content{
  /* padding: 0 auto;
  margin: 0 auto; */
  width: 100%;
  height: auto;
  display: flex;
  
}

.join-parent{
  width: 321px;
  height: 100px;
  margin: 0 auto;
  padding: 0px;
  gap: 0px;
}

.join-parent h2{
  width: 235px;
  margin: 0 auto;
  font-size: 1.25rem;
  padding: 0px;
  
}

.email-input{
  width: 218px;


}

.join-section-content button{
  width: 103px;
  margin-left: 0px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  max-width: 100%;
  padding: 20px;
  gap: 20px;

  width: 100%;
overflow-x: hidden;
  box-sizing: border-box;
}

.footer-container .first p {
  font-size: 0.875rem;
  width: 300px;
  margin: 5px auto;
}

.second-parent {
  margin-top: 0px;
  margin-bottom: 0px;
  /* display: flex;
  flex-direction: column; */
  display: grid;
  grid-template-columns: 1fr;
  gap: 0px;
}

.div1{
  margin-top: 0px;
  padding-top: 0px;
}

.div1 ul,
.div2 ul {
  padding: 0;
}

.div1 ul li,
.div2 ul li {
  padding-bottom: 8px;
  font-size: 0.875rem;
  width: 128px;
}

.third {
  gap: 20px;
  margin-top: 0px;
}

.third img {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

}

